.headerPage {

    /* Size */
    width: 8vw;
    height: 100vh;

    /* BG */
    background-color: var(--header-footer-bg-color);

    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /* position */
    position: fixed;
    z-index: 1;

    /* Font */
    font-size: 1.2rem;
    font-weight: 500;

    /* Transition */
    transition: width 0.7s ease-in-out;

}

.LogoHeader {
    /* Size */
    width: 80%;
    max-width: 8vw;
}

.navLinks {

    /* Size */
    width: 100%;

    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.links {
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.linksInsideThePage {

    /* Size */
    width: 8vw;
    height: 5vh;

    /* Flex*/
    display: flex;
    align-items: center;
    justify-content: center;

    /* Font */
    text-align: center;
    white-space: nowrap;

    /* Transition */
    transition: all .7s ease-in-out;

    /* Configs */
    cursor: pointer;
}

.linksInsideThePage i {
    /* Font */
    font-size: 2rem;
    color: var(--font-primery-color);

    /* Transition */
    transition: all .7s ease-in-out;
}

.linksInsideThePage h1 {
    /* Size */
    width: 0;

    /* Font */
    font-size: 1.2rem;

    /* Config */
    opacity: 0;

    /* Transition */
    transition: all .7s ease-in-out;

    /* Font */
    color: var(--font-primery-color);
}

/* Transitions */

.headerPage:hover {
    /* Size */
    width: 15vw;
}

.headerPage:hover .linksInsideThePage {
    /* Size */
    width: 15vw;
}

.linksInsideThePage:hover h1 {
    /* Size */
    width: 100%;

    /* Config*/
    opacity: 1;
}

.linksInsideThePage:hover i {
    /* Size */
    width: 0;

    /* Config*/
    opacity: 0;
}