@import url(./global.css);
/* Header */

body {
    display: flex;
}

.headerPage {
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /* BG */
    background-color: var(--header-footer-bg-color);

    /* Size */
    width: 8vw;
    height: 100vh;

    /* Font */
    font-size: 1.2rem;
    font-weight: 500;

    /* position */
    position: fixed;
    z-index: 1;

    /* Transition */
    transition: width 0.7s ease-in-out;

}

.LogoHeader {
    width: 100%;
    max-width: 8vw;
}

.navLinks {
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    /* Size */
    width: 100%;
}

.links {
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.linksInsideThePage {
    /* Flex*/
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;

    /* Size */
    width: 8vw;
    height: 5vh;

    /* Configs */
    transition: all .7s ease-in-out;
    cursor: pointer;

    text-align: center;
    white-space: nowrap
}

.linksInsideThePage i {
    font-size: 2rem;
    transition: all .7s ease-in-out;
}

.linksInsideThePage h1 {
    width: 0;
    opacity: 0;
    font-size: 1.2rem;
    transition: all .7s ease-in-out;
}

.headerPage:hover {
    width: 15vw;
}

.headerPage:hover .linksInsideThePage {
    width: 15vw;
}

.linksInsideThePage:hover h1 {
    width: 100%;
    opacity: 1;
}

.linksInsideThePage:hover i {
    width: 0;
    opacity: 0;
}

/* Main */