@import url(./main/welcome.css);
@import url(./main/skills.css);
@import url(./main/projects.css);
@import url(./main/aboutMe.css);
@import url(./main/contact.css);

.main {
    /* Flex */
    display: flex;
    flex-direction: column;

    /* Magin */
    margin-left: 8vw;
}