.aboutMeMain {
    /* Size */
    height: max-content;

    /* BG */
    background-color: var(--secundary-bg-color);

    /* Padding */
    padding: var(--padding-global);
    padding-top: 3%;
    padding-bottom: 3%;

    /* Flex */
    display: flex;
    flex-direction: column;

    /* Boder */
    border-radius: 25px;
}

.aboutMeSection {
    /* BG */
    background-color: var(--third-bg-color);

    /* Font */
    text-align: center;

    /* Boder */
    border-radius: 25px;
}

.aboutMeSection h1 {
    /* Padding */
    padding: 2.5% 0;

    /* Font */
    font-size: 2.5rem;
}

.textAboutMe {
    /* Flex*/
    display: flex;
    gap: 30px;

    /* Font */
    text-align: justify;
    font-weight: 500;
    font-size: 1.4rem;

    /* Padding */
    padding: 2% 5%;
}